<div class="form">
  <form action="/answer" method="get" class="was-validated">
    <div class="mb-3">
      <label for="validationTextarea">Type your question below: </label>
      <input class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea"  name="ask" required>
      <div class="invalid-feedback">
        Please enter a question in the textarea.
      </div>
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
</div>
