/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.form {
  border: 1px transparent black;
  padding: 26px;
  width: 700px;
  margin: 30px auto;
  background-color: #FCFAFA;
  border-radius: 20px;
  box-shadow: 2px 12px 42px 1px rgba(0,0,0,0.59);
}
.was-validated {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.btn {
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.answer {
  border: 1px transparent black;
  padding: 26px;
  width: 700px;
  margin: 30px auto;
  background-color: #FCFAFA;
  border-radius: 20px;
  box-shadow: 2px 12px 42px 1px rgba(0,0,0,0.59);
}

.answer p {
  font-weight: bold;
  font-style: italic;
}

.answer_you {
  background-color: #F8DDA4;
  padding: 10px;
  border-radius: 15px;
}

.answer_your_coach {
  background-color: #E8DBC5;
  padding: 10px;
  border-radius: 15px;

}